keras==2.14.0
numpy==1.24.3
pandas==2.1.1
scikit-learn
matplotlib
streamlit
streamlit-drawable-canvas
tensorboard
tensorboard-data-server
tensorflow
tensorflow-cpu
tensorflow-estimator
tensorflow-io-gcs-filesystem
